body {
    background-color:   #111111;
    color:              #EEEEEE;
    padding:            64px;
}

h1 {
    font-family:        monospace;
    font-size:          64px;
    /* text-align:         center; */
}

h2 {
    font-family:        monospace;
    font-size:          32px;
    /* text-align:         center; */
}

p {
    font-family:        Helvetica, Arial, sans-serif;
    font-size:          16px;
}

p.big {
    font-family:        Helvetica, Arial, sans-serif;
    font-size:          32px;
    line-height:        2.0;
}

ul {
    font-family:        Helvetica, Arial, sans-serif;
    font-size:          16px;
    list-style-type:    None;
    line-height:        200%;
}

ul.small {
    line-height:        150%;
}

.subtitle {
    font-style:         italic;
    /* text-align:         center; */
}

table {
    font-family:        Helvetica, Arial, sans-serif;
    font-size:          16px;
}

.center {
    text-align:         center;
}

div.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
  }

.grid-container > div {
    padding: 5px;
    /* background-color: darkgreen; */
}

.grid-container > div.left_bar {
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

.grid-container > div.main {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 5;
}

.grid-container > div.right_bar {
    text-align: left;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}

img.big {
    height: auto;
    width: 20%;
}

img.medium {
    height: auto;
    width: 10%;
}

img.small {
    height: auto;
    width: 7.5%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}