body {
    background-color:   #111111;
    color:              #EEEEEE;
    padding:            64px;
    text-align:         center;
}

h1 {
    font-family:        Consolas;
    font-size:          64px;
    text-align:         center;
}

h2 {
    font-family:        Consolas;
    font-size:          32px;
    text-align:         center;
}

p {
    font-family:        Helvetica;
    font-size:          16px;
}

label {
    font-family:        Helvetica;
    font-size:          16px;
}