<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Civ 6 Randomizer</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <img src= "{{ settings.civ_img }}">
        <img src= "{{ settings.leader_img }}">
        <p>
            {{ settings.civ }}
            <br>
            {{ settings.civ_img}}
            <br>
            {{ settings.leader }}
            <br>
            {{ settings.leader_img}}
            <br>
            {{ settings.map_type }}
            <br>
            {{ settings.map_size }}
            <br>
            {{ settings.modes }}
            <br>
            {{ settings.victorys }}
        </p>
    </body>
</html>