<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Civ 6 Randomizer</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <img src= "{{ settings.civ_img }}">
        <img src= "{{ settings.leader_img }}">
        <img src= "{{ settings.map_type_img }}">
        {% for mode in settings.modes_imgs %}
            <img src= "{{ mode }}">
        {% endfor %}
        <img src= "{{ settings.victory_img }}">
        <p>
            {{ settings.civ }}
            <br>
            {{ settings.leader }}
            <br>
            {{ settings.map_type }}
            <br>
            {{ settings.map_size }}
            <br>
            {{ settings.modes }}
            <br>
            {{ settings.victory }}
        </p>
    </body>
</html>