<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WL</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <h1>WL</h1>
        <br>
        <p>
            <ul>
                <li>
                    <a href="{{ url_for('civ') }}">Civ VI Randomizer</a>
                </li>
                <li>
                    <a href="{{ url_for('password') }}">Password Generator</a>
                </li>
            </ul>
        </p>
    </body>
</html>