<!DOCTYPE html>
<html>
    <head>
        <title>Password Generator</title>
        <link rel="stylesheet" href="static/css/style.css">>
    </head>
    <body onload="generatePassword()" style="text-align: center">
        <h2 id="password"></h2>
        <br>
        <div class="tooltip">
            <button onclick="copy()" onmouseleave="hideTooltip()">Copy</button>
            <span class="tooltiptext" id="tooltip">Copied!</span>
        </div>
        &nbsp;
        <button onclick="generatePassword()">Regenerate</button>
        <br>
        <form>
            <br>
            <label for="length">Length:</label>
            <input id="length" name="length" type="number" value=64 style="width: 50px">       
            <br>
            <label for="chars">Characters:</label>
            <br>
            <textarea id="chars" name="chars" style="height: 70px; width: 250px">ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
0123456789
!\"#$%&'()*+,-./:;=?@[\]^_`{|}</textarea> 
        </form>
    </body>
    <script>

        function copy() {
            navigator.clipboard.writeText(document.getElementById("password").innerHTML);
            document.getElementById("tooltip").style.visibility = "visible";
        }

        function hideTooltip() {
            document.getElementById("tooltip").style.visibility = "hidden";
        }

        function generatePassword() {
            length = document.getElementById("length").value;
            chars = document.getElementById("chars").value.replace(/\s/g, "");
            password = [];
            for(let i=0; i<length; i++) {
                password.push(chars[Math.floor(Math.random() * chars.length)]);
            }
            document.getElementById("password").innerHTML = password.join("");
        }

    </script>
</html>