<!DOCTYPE html>
<html>
    <head>
        <title>Password Generator</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h2>{{ password }}</h2>
        <br>
        <form method="POST">
            <label for="chars">Include:</label>
            <input name="chars" value={{chars}} style="width:700px">
            <br>
            <label for="length">Length:</label>
            <input name="length" type="number" value={{length}} style="width:50px">
        </form>
    </body>
</html>