<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Tourney</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Tourney</h1>
        <pre>
Item A: 5 -
           |- Item B: 2 -                             - Item E: 0
Item B: 7 -              |              - Item F: 3 -| 
                         |- Item B: 4  |              - Item F: 3
Item C: 0 -              |  Item G: 2 -|
           |- Item D: 2 -              |              - Item G: 5
Item D: 2 -                             - Item G: 9 -| 
                                                      - Item H: 4
        </pre>
    </body>
</html>